
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.egg-info/
dist/
build/


.ipynb_checkpoints/
*.ipynb_checkpoints/


.idea/
*.swp
*.swo


data/fraud_detection/creditcard.csv


models/saved_models/*.pt
models/saved_models/*.pkl
models/saved_models/*.png


logs/
*.log


.DS_Store
Thumbs.db
